@@charset "UTF-8";
abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, header, hgroup, html, i, iframe,
img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}

article, aside, dialog, figure, footer, header, hgroup, hgroup, main, nav, section {
  display: block;
}

html{
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body{
  line-height: 1;
}

blockquote, q{
  quotes: none;
}

ol, ul{
  list-style: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*, ::after, ::before {
  box-sizing: inherit;
  -ms-touch-action: inherit;
  touch-action: inherit;
}
@font-face {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

p{
  font-family: futura-pt
  font: normal normal 300 26px/34px Futua PT;
  letter-spacing: -0.78px;
  opacity: 1;
  color: #5C5C5C;
  font-size: 2.3vmin;
}


.column{
  -ms-flex: 65%, 35%;
  flex: 65%;
  max-width: 65%;
  padding: 0 4px;
}

.column img{
  margin-top: 20px;
  margin-left: 0;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 800px){
  .column{
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@@media screen and (max-width: 600px) {
  .column{
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

}

//Media Queries

//Extra Small devices (potrait phones)
@media(min-width: 320px){

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


 }

#more{
  display: none;
}


.imagecontainer{
  width: 100%;
  position: relative;
}

.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imagecontainer:hover .image{
  background-color: black;
  opacity: 0.3;
}

.imagecontainer:hover .middle{
  opacity: 1;
}

.text{
  background-color: transparent;
  border: 3px solid black;
  border-radius: 100px;
  color: black;
  font-size: 16px;
  font-family: futura-pt;
  padding: 16px 32px;
}

p.example {

}

@media screen and (min-width: 601px) {
  p.example {
    font-size: 50px;
    font-family: bebas-neue-pro; f
    ont-weight: 300;
    font-style: normal;
    text-align:left;
    color: #575757;
  }
}

@media screen and (max-width: 600px) {
  p.example {
    font-size: 20px;
    font-family: bebas-neue-pro; f
    ont-weight: 300;
    font-style: normal;
    text-align:left;
    color: #575757;
  }
}


p.heading {

}

@media screen and (min-width: 601px) {
  p.heading {
    font-family: futura-pt;
    text-align:left;
    margin-top: 1%;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 600px) {
  p.heading {
    font-family: futura-pt;
    text-align:left;
    margin-top: 1%;
    font-weight: 100;
    font-size: 8px;
    letter-spacing: 2.5px;
  }
}

p.know {

}

@media screen and (min-width: 601px) {
  p.know {
    font-family: futura-pt;
    font-weight: 300;
    font-style: italic;
    margin-top: 10%;
    text-align:left;
    font-size: 20px;
    color: #575757;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 600px) {
  p.know {
    font-family: futura-pt;
    font-weight: 300;
    font-style: italic;
    margin-top: 10%;
    text-align:left;
    font-size: 8px;
    color: #575757;
    letter-spacing: 2px;
  }
}


@media screen and (min-width: 601px) {
  p.about {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #575757;
  }
}

@media screen and (max-width: 600px) {
  p.about {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #575757;
  }
}

@media screen and (min-width: 601px) {
  p.contact {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #575757;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  p.contact {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #575757;
    text-align: left;
  }
}

@media screen and (min-width: 601px) {
  p.terms {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #575757;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  p.terms {
    font-family: futura-pt;
    margin-top: 5%;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #575757;
    text-align: left;
  }
}


@media screen and (min-width: 601px) {
  p.footer {
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #575757;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  p.footer {
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #575757;
    text-align: right;
  }
}


@media screen and (min-width: 601px) {
  button.touch {
    background-color: #000;
    height: 100%;
    width: 90%;
    color: white;
    border: 0px none;
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    align: right;
    font-size:15px;
  }
}

@media screen and (max-width: 600px) {
  button.touch {
    background-color: #000;
    height: 80%;
    width: 100%;
    color: white;
    border: 0px none;
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    align: right;
    font-size:8px;
  }
}
